<app-header></app-header>

<main class="container center-align animated fadeIn">
    <h4 class="center">Login</h4>
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" class="col s12">
        <div class="input-field s6 m8">
            <input type="email" formControlName="username" id="username">
            <label for="username">{{ 'REGISTER.USERNAME' | translate}}</label>
        </div>
        <div class="input-field s6 m8">
            <input type="password" formControlName="password" id="password">
            <label for="password">{{ 'REGISTER.PASSWORD' | translate}}</label>
        </div>

        <button class="waves-effect waves-light btn-large">{{ 'LOGIN.BUTTON' | translate }}</button>
    </form>
</main>