main {
    background: rgba(0, 0, 0, 0.507);
    padding: 15px;
    border-radius: 2%;
}

input {
    color: white;
}

h4 {
    color: white;
}

.input-fielt {
    margin-bottom: 20px;
}