<div class="container animated fadeIn">
    <div class="row">
        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="80">
                <i class="icon-xbox-classic"></i>
                <p>Classic</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="14">
                <i class="icon-360"></i>
                <p>360</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="1">
                <i class="icon-xbox-one"></i>
                <p>One</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="186">
                <i class="icon-xbox-one"></i>
                <p>Series S/X</p>
            </a>
        </div>
    </div>
</div>