<div class="container animated fadeIn">
    <ul class="row">
        <li class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="11">
                <i class="icon-wii"></i>
                <p>Wii</p>
            </a>
        </li>
        <li class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="10">
                <i class="icon-wiiu"></i>
                <p>Wii U</p>
            </a>
        </li>
        <li class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="8">
                <i class="icon-3ds"></i>
                <p>3DS</p>
            </a>
        </li>
        <li class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="7">
                <i class="icon-nswitch"></i>
                <p>Switch</p>
            </a>
        </li>
    </ul>
</div>