<div class="container">
    <div class="row animated fadeIn">
        <div class="col s12 m4 center-align">
            <a routerLink="xbox" routerLinkActive="active"> <i class="icon-xbox medium"></i></a>
        </div>
        <div class="col s12 m4 center-align">
            <a routerLink="playstation" routerLinkActive="active">
                <i class="icon-playstation medium">
                </i>
            </a>
        </div>
        <div class="col s12 m4 center-align">
            <a routerLink="nintendo" routerLinkActive="active">
                <i class="icon-nintendo medium"></i>
            </a>
        </div>
        <div class="col s12 m6 center-align">
            <a routerLink="pc" routerLinkActive="active"><i class="icon-pc large"></i></a>
        </div>
        <div class="col s12 m6 center-align">
            <a routerLink="phone" routerLinkActive="active"> <i class="icon-smartphone large"></i></a>
        </div>
    </div>

</div>

<router-outlet></router-outlet>