main {
    /* background: rgba(0, 0, 0, 0.507); */
    padding: 10px;
    /* margin-top: 100px; */
    border-radius: 2%;
}

input {
    color: white;
}

h4 {
    color: white;
}

.large {
    font-size: 20em;
}

a {
    cursor: pointer;
}

.platform {
    padding: 20px;
}

.input-fielt {
    margin-bottom: 20px;
    padding: 0px;
}

i {
    transition: 0.7s;
}