<app-header></app-header>

<main class="container center-align animated fadeIn">
    <h4 class="center">{{ 'REGISTER.TITLE' | translate }}</h4>
    <form autocomplete="off" (ngSubmit)="createUser()" [formGroup]="registerForm">
        <div class="row" *ngIf="showForm()">
            <div class="input-field col s12 m6">
                <input type="text" id="name" formControlName="name">
                <label for="name">
                    <i class="icon-comment tiny"></i>
                    {{ 'REGISTER.NAME' | translate }}
                </label>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="username" formControlName="username">
                <label for="username">
                    <i class="icon-user tiny"></i>
                    {{ 'REGISTER.USERNAME' | translate }}
                </label>
            </div>
            <div class="input-field col s12 ">
                <input type="text" id="email" formControlName="email">
                <label for="email">
                    <i class="icon-envelope tiny"></i>
                    {{ 'REGISTER.EMAIL' | translate }} 
                </label>
            </div>
            <div class="input-field col s12 m6">
                <input type="password" id="password" formControlName="password">
                <label for="password">
                    <i class="icon-key tiny"></i>
                    {{ 'REGISTER.PASSWORD' | translate }}
                </label>
            </div>
            <div class="input-field col s12 m6">
                <input type="password" id="password2" formControlName="password2">
                <label for="password2">
                    <i class="icon-key tiny"></i>
                    {{ 'REGISTER.PASSWORD2' | translate }}
                </label>
            </div>
            <a (click)="verifyRegisterForm()" class="waves-effect waves-light btn">{{ 'REGISTER.NEXT' | translate }}</a>
            <div class="row center ">
                <div class="col s12 ">
                    <h5 class="grey-text text-lighten-1" *ngIf="noValidInput('name')">{{ 'REGISTER.VALIDATIONS.NAME' | translate }}</h5>
                    <h5 class="grey-text text-lighten-1" *ngIf="noValidInput('username')">{{ 'REGISTER.VALIDATIONS.NAME' | translate }}</h5>
                    <h5 class="grey-text text-lighten-1" *ngIf="noValidInput('email')">{{ 'REGISTER.VALIDATIONS.EMAIL' | translate }}</h5>
                    <h5 class="grey-text text-lighten-1" *ngIf="noValidInput('password')">{{ 'REGISTER.VALIDATIONS.PASSWORD' | translate }}</h5>
                    <h5 class="grey-text text-lighten-1" *ngIf="noValidPasswords() ">{{ 'REGISTER.VALIDATIONS.PASSWORD2' | translate }}</h5>
                </div>
            </div>
        </div>

        <div class="row" [ngClass]="{'animated fadeIn': showPlatforms}" *ngIf="showPlatforms">
            <p>{{ 'REGISTER.SELECT_PLATFORMS' | translate }}</p>
            <div class="col platform s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active': selectXbox}" (click)="changeXbox()"> <i class="icon-xbox medium"></i></a>
            </div>
            <div class="col platform s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active': selectPlayStation}" (click)="changePS()">
                    <i class="icon-playstation medium"></i>
                </a>
            </div>
            <div class="col platform s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active fasr': selectNintendo}" (click)="changeNintendo()">
                    <i class="icon-nintendo medium"></i>
                </a>
            </div>
            <div class="col platform s12 m6 center-align" (click)="onAddPlatform('4')">
                <div id="4">
                    <i class="icon-pc medium"></i>
                    <br>
                    <span>PC</span>
                </div>
            </div>
            <div class="col platform s12 m6 center-align" (click)="onAddPlatform('21')">
                <div id="21">
                    <i class="icon-smartphone medium"></i>
                    <br>
                    <span>{{ 'REGISTER.PHONE' | translate }}</span>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="selectPlayStation" [ngClass]="{'animated fadeIn': selectPlayStation}">
            <div *ngFor="let platform of playstationPlatforms; let i=index">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row " *ngIf="selectXbox " [ngClass]="{ 'animated fadeIn': selectXbox} ">
            <div *ngFor="let platform of xboxPlatforms; let i=index ">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row " *ngIf="selectNintendo " [ngClass]="{ 'animated fadeIn': selectNintendo} ">
            <div *ngFor="let platform of nintendoPlatforms; let i=index ">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>


        <button *ngIf="!inputForm" id="register" class="waves-effect waves-light btn-large">{{ 'REGISTER.TITLE' | translate }}</button>
        <div class="hide-on-large-only">
            <p class="grey-text">{{ 'REGISTER.SUBTITLE' | translate }}<a class="white-text" routerLink="/login">{{ 'REGISTER.SUB_LOGIN' | translate }}</a></p>
        </div>
    </form>

</main>