<main class="container">
    <div class="mainCenter animated fadeIn fast" >
        <div class="row chat">
            <h2 class="yellow-text center-align">{{ 'NOTIFICATIONS.INVITATIONS' | translate}}</h2>
            <!-- <h5 class="white-text content">Your created matches</h5> -->
            <div class="col s12 m4" *ngFor="let match of matches; let i = index;">
                <a class="card black" routerLink="/match/{{match._id}}">
                    <div class="card-image">
                        <img [src]="match.img" height="300px">
                        <span class="card-title">{{match.game_name}}</span>
                    </div>
                    <div class="card-content">
                        <p class="white-text">{{match.message}}</p>
                        <p class="white-text">{{match.date.toLocaleDateString()}}</p>
                        <p class="white-text">{{match.date.toLocaleTimeString()}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>