<h3 class="center yellow-text">{{ 'REGISTER.PHONE' | translate}}</h3>
<div class="container chat mainCenter animated fadeIn fast" #gamesContainer (scroll)="verScroll($event)" *ngIf="games.length > 0">
    <div class="row games" *ngIf="games">
        <br>
        <div class="col s12 m4" *ngFor="let game of games">
            <a href="/game/{{platformId}}/{{game.id}}">
                <img [src]="game.background_image" class="game" alt="" width="100%" height="350px">
                <p>{{game.name}}</p>
                <br>
            </a>
        </div>
    </div>

</div>