<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <a routerLink="match">
                <h1>Single match</h1>
            </a>
        </div>
        <div class="col s12 m6">
            <a routerLink="tournament">
                <h1>Tournament</h1>
            </a>
        </div>
    </div>
</div>