<header class="">
    <nav>
        <div class="nav-wrapper">
            <!-- <a href="#!" class="brand-logo">Logo</a> -->
            <!-- <a *ngIf="!verifyLogin()" routerLink="/register" routerLinkActive="active" class="show-on-medium-and-down brand-logo fa fa-home ">Register</a> -->
            <a routerLink="/" class="brand-logo fa fa-home valign-wrapper"><i class="icon-home valign-wrapper"></i></a>
            <a data-target="mobile-demo" class="sidenav-trigger left-align"><i class="icon-menu"></i></a>
            <ul class="right hide-on-med-and-down" id="nav-mobile">
                <li>
                    <a routerLink="/platforms" routerLinkActive="active">{{ 'HEADER.PLATFORMS' | translate }}</a>
                </li>
                <li *ngIf="verifyLogin()">
                    <a routerLink="/new/match" routerLinkActive="active">
                        {{ 'HEADER.MATCH' | translate }}
                    </a>
                </li>
                <li *ngIf="verifyLogin()">
                    <a routerLink="/notifications" routerLinkActive="active">
                        <i class="icon-alarm">
                            <div *ngIf="userService.user">
                                <span class="white-text text-lighten-2 valign-wrapper" id="notifications-number" *ngIf="userService.user.notifications > 0 && userService.user.notifications <= 9">{{userService.user.notifications}}</span>
                                <span class="white-text text-lighten-2 valign-wrapper" id="notifications-number" *ngIf="userService.user.notifications > 9">9+</span>
                            </div>
                        </i>
                    </a>
                </li>
                <li *ngIf="verifyLogin()">
                    <a routerLink="/profile" routerLinkActive="active">
                        <i class="icon-user"></i>
                    </a>
                </li>
                <li *ngIf="verifyLogin()" (click)="logout()">
                    <a href="/">
                        <i class="icon-switch1"></i>
                    </a>
                </li>
                <li *ngIf="!verifyLogin()">
                    <a routerLink="/register" routerLinkActive="active">
                        {{ 'HEADER.REGISTER' | translate }}
                    </a>
                </li>
                <li *ngIf="!verifyLogin()">
                    <a routerLink="/login" routerLinkActive="active">
                        {{ 'HEADER.LOGIN' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li *ngIf="user" class="user">
            <a routerLink="/profile/user" (click)="closeNav()">
                <img [src]="user.thumb_img" width="40%">
                <span class="right-align" style="position: absolute; top: 5vh;"> {{user.name}}</span>
            </a>
        </li>
        <div class="menu-options">
            <li (click)="closeNav()">
                <a (click)="closeNav()" routerLink="/platforms" routerLinkActive="active-mobile">
                    <i class="icon-gamepad"></i>
                    {{ 'HEADER.PLATFORMS' | translate }}
                </a>
            </li>
            <li (click)="closeNav()" *ngIf="verifyLogin()">
                <a (click)="closeNav()" routerLink="/new" routerLinkActive="active-mobile">
                    <i class="icon-bolt"></i> 
                    {{ 'HEADER.MATCH' | translate }}
                </a>
            </li>
            <li (click)="closeNav()" *ngIf="verifyLogin()">
                <a (click)="closeNav()" routerLink="/notifications" routerLinkActive="active-mobile">
                    <i class="icon-alarm"></i>
                    {{ 'HEADER.NOTIFICATIONS' | translate }}
                </a>
            </li>
            <li *ngIf="verifyLogin()">
                <a (click)="closeNav()" routerLink="/profile" routerLinkActive="active-mobile">
                    <i class="icon-user">
                    </i> 
                    {{ 'HEADER.PROFILE' | translate }}
                </a>
            </li>
            <li (click)="closeNav()" *ngIf="!verifyLogin()">
                <a (click)="closeNav()" routerLink="/register" routerLinkActive="active-mobile">
                    <i class="icon-rocket"></i>
                    {{ 'HEADER.REGISTER' | translate }}
                </a>
            </li>
            <li (click)="closeNav()" *ngIf="!verifyLogin()">
                <a (click)="closeNav()" routerLink="/login" routerLinkActive="active-mobile">
                    <i class="icon-user"></i>
                    {{ 'HEADER.LOGIN' | translate }}
                </a>
            </li>
        </div>
        <li id="logout" *ngIf="verifyLogin()" (click)="logout()" (click)="closeNav()">
            <a (click)="closeNav()" href="/">
                <i class="icon-switch1 red-text text-accent-4"></i> 
                {{ 'HEADER.LOGOUT' | translate }}
            </a>
        </li>

    </ul>
</header>