.active {
    color: rgb(88, 255, 158);
}

nav {
    background-color: rgba(0, 0, 80, 0.0);
    width: 100%;
}

img {
    border-radius: 50%;
}

.sidenav-trigger {
    width: auto;
}

.loged {
    background: rgba(0, 0, 0, 0.0);
    z-index: 3;
}

.brand-logo {
    width: auto;
}

a {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
}

.active-mobile {
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 0, 51), crimson, rgb(255, 0, 51), rgba(0, 0, 0, 0));
    border-radius: 30px;
}

.user {
    background: linear-gradient(180deg, #6e1a213d, #07025733, rgba(0, 0, 0, 0));
    padding-top: 50px;
    position: absolute;
    left: 0px;
    width: 100%;
}

.user a {
    padding: 0%;
}

span {
    font-size: 1.2em;
    font-family: 'Cyberverse';
}

#notifications-number {
    border: 1px solid black;
    font-size: 0.6em;
    background-color: rgba(255, 0, 0, 0.432);
    text-align: center;
    padding: 6px;
    border-radius: 60%;
    width: 3.2vh;
    height: 3.2vh;
    position: absolute;
    top: 4.5vh;
    font-weight: bolder;
}

.menu-options {
    position: absolute;
    top: 25vh;
    width: 100%;
}

#logout {
    position: absolute;
    top: 80vh;
}

header {
    width: 100%;
    height: 100%;
}

.sidenav {
    background: linear-gradient(90deg, rgba(34, 0, 61, 0), rgba(20, 0, 37, 0.219));
    display: block;
}

.sidenav li {
    padding: 5px;
}

.sidenav li a {
    color: white;
}

.sidenav li a i {
    color: white;
}

img {
    margin-right: 10px;
}