<div>

    <div class=" center-align col s12 animated fadeIn" *ngIf="!emptyPlatforms">
        <div class="row">
            <h2 *ngIf="!platformName" class="deep-purple-text text-lighten-1">{{ 'CREATE_MATCH.TITLE' | translate}}</h2>
            <div *ngFor="let platform of platforms" class="col s12 m4 l4 xl4 center-align black-text">
                <a (click)="getPlatform(platform.name, platform.category, platform.api_id, platform.ico)" [value]="platform.category">
                    <i class="{{platform.ico}} db-ico"></i>
                    <p>{{platform.name}}</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal open">
        <div class="modal-content">
            <h4>{{ 'CREATE_MATCH.SEARCH_RESULTS' | translate }}</h4>
            <div class="row games">
                <div class="col s12 m4" *ngFor="let game of games" (click)="selectGame(game.id, game.name, game.background_image)">
                    <img [src]="game.background_image" class="game" alt="game.name" width="100%" height="200">
                    <p>{{game.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="emptyPlatforms">
        <br>
        <h2>{{ 'CREATE_MATCH.PLATFORMS_EMPTY' | translate}}</h2>
        <br>
        <h4 routerLink="/profile/platforms" class="teal-text text-accent-4">{{ 'CREATE_MATCH.ADD_PLATFORMS' | translate}}</h4>
    </div>


    <div class="container animated fadeIn" *ngIf="platformName" id="gameSelector">
        <div class="row">
            <div class="input-field col s12">
                <input #search id="search" type="text" class="validate" (keyup)="searchGame(search.value)" autofocus>
                <br>
                <label for="search">{{ 'CREATE_MATCH.SEARCH_GAME' | translate}}</label>
            </div>
            <div class="col s12" *ngIf="gameSearch">
                <h4 class="center-align loading_icon">{{ 'CREATE_MATCH.SEARCHING' | translate}} {{gameSearch}}</h4>
            </div>
        </div>

        <!-- <div class="row">
            <h2 class="deep-purple-text text-lighten-1">Games you like</h2>
            <div class="col s12 m4">
                <img src="" alt="" width="100%" height="200">
                <p>Game title</p>
            </div>
            <div class="col s12 m4">
                <img src="" alt="" width="100%" height="200">
                <p>Game title</p>
            </div>
            <div class="col s12 m4">
                <img src="" alt="" width="100%" height="200">
                <p>Game title</p>
            </div>
        </div> -->
    </div>
    <div class="row container" *ngIf="gameId">
        <div class="col s12">
            <input id="search_user" placeholder="{{ 'CREATE_MATCH.SEARCH_USER' | translate}}" type="text" #search (keyup)="searchUser(search)">
            <ul id="foundedUsers">
                <li *ngFor="let user of users" (click)="addUser(user)">
                    <img class="center-align" src="{{url}}/upload/users/{{user._id}}/{{user.img}}" alt="" width="100%" height="100px">
                    <h6>{{user.username}}</h6>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mainCenter container animated fadeIn fast" id="formulario" hidden>

        <form class="col s12" [formGroup]="match" (ngSubmit)="createMatch()">
            <div class="row marginTop">
                <div class="col m4 s12">
                    <i class="{{platformCategoryIco}} large white-text" id="platform"></i>
                </div>
                <div class="input-field col s12 m8">
                    <input id="first_name" type="text" class="validate white-text" formControlName="name">
                    <label for="first_name">{{ 'CREATE_MATCH.MATCH_NAME' | translate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">

                    <h6 class="white-text center">{{ 'CREATE_MATCH.INVITEDS' | translate}}</h6>
                    <ul>
                        <li class="deep-purple-text text-lighten-1" *ngFor="let user of invitedUsers_">{{user}}</li>
                    </ul>
                </div>
                <div class="input-field col s12 m6 ">

                    <input type="text" class="datepicker white-text" formControlName="date" (change)="onDateChange($event)">
                    <label>{{ 'CREATE_MATCH.DATE' | translate}}</label>
                </div>
                <input type="hidden" formControlName="game_name" [value]="gameName" disabled>
                <input type="hidden" formControlName="game_id" disabled [value]="gameId">
                <input type="hidden" formControlName="platform" disabled [value]="platformId">
                <div class="input-field col s12 m6 offset-m6">
                    <input type="time" class="white-text tooltipped" data-tooltip="Please press the clock" (change)="onTimeChange($event)">
                    <label>{{ 'CREATE_MATCH.TIME' | translate}}</label>
                    <span class="helper-text white-text" data-error="wrong" data-success="right">{{ 'CREATE_MATCH.CLOCK_MESSAGE' | translate}}</span>
                </div>

            </div>
            <div class="row white-text center-align">
                <div class="col m4 s12">
                    <h5>{{user.name}}</h5>
                </div>
                <div class="col m4 s12">
                    <h5>{{platformName}}</h5>
                </div>
                <div class="col m4 s12">
                    <h5>{{gameName}}</h5>
                </div>
            </div>
            <div class="row right">
                <button class="btn waves-effect deep-purple accent-4" type="submit" name="action">{{ 'CREATE_MATCH.SUBMIT' | translate}}
                            <i class="material-icons right">{{ 'CREATE_MATCH.CREATE_MATCH' | translate}}</i>
                          </button>
            </div>
        </form>
        <br>
        <!-- <a class="waves-effect waves-light btn" *ngIf="platformName" (click)="backToSelect()">Back to select</a> -->
    </div>
    <br>
</div>