<div class="container animated fadeIn fast content" (click)="foundedUsers=null">
    <br><br>
    <div class="input-field col s12">
        <input id="search_user" type="text" #search (keyup)="searchUser(search.value)">
        <label for="search_user">Search User</label>
    </div>
    <div class="users white-text">
        <div class="col s12 user" *ngFor="let user of foundedUsers" (click)="addPartner(user)">
            <img src="" alt="" width="50px" height="50px">
            <h6>{{user.username}}</h6>
        </div>
    </div>

    <div class="row" *ngIf="partners !== []">
        <div class="col s4 center-align" *ngFor="let partner of partners">
            <img src="" alt="" width="200px" height="200px">
            <h5>{{partner.name}}</h5>
            <h6>{{partner.username}}</h6>
        </div>

    </div>
</div>