.users {
    background-color: rgba(0, 0, 0, 0.342);
}

h6 {
    padding: 10px;
}

label {
    font-size: 1.3em;
}

.user {
    display: flex;
    margin: 10px;
    padding: 5px;
}

.user:hover {
    background-color: black;
    cursor: pointer;
}