#platform {
    padding: 40px;
}


/* #foundedUsers {
    max-width: 80%;
    z-index: 1;
    position: absolute;
} */


/* #foundedUsers img {
    position: absolute;
    width: 10%;
    height: 10vh;
} */


/* #foundedUsers h6 {
    color: white;
    position: relative;
    left: 30%;
}

@media (max-width: 852px) {
    #foundedUsers {
        background-color: black;
    }
} */

.marginTop {
    margin-top: 40px;
}

label {
    font-size: 1.5em;
    z-index: -1;
    font-family: "Cyberverse";
}

a {
    cursor: pointer;
}

.col {
    padding: 22px;
}

.db-ico {
    color: black;
    font-size: 20em;
    transition: 0.5s;
}

.db-ico:hover {
    color: white;
    transition: 0.5s;
}

h4 {
    color: gray;
}

.modal {
    background-color: black;
    width: 85%;
}

.platform {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}