article {
    position: relative;
    text-align: center;
    color: white;
    width: 100;
    display: inline-block;
}

.content {
    background: linear-gradient(to right, rgb(90, 0, 0), rgba(0, 0, 80), black);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
}

h1 {
    top: 21vh;
    position: relative;
    /* text-align: center; */
    /* font-size: 3em; */
}

h2 {
    color: white;
}

.card {
    background-color: unset;
}

img {
    z-index: -55;
}

@media (max-width: 420px) {
    .circle {
        /* top: -5vh; */
        width: 30vh;
        height: 30vh;
        left: 5vh;
    }
    h1 {
        font-size: 3em;
    }
}

@media (min-width: 421px) {
    .circle {
        top: -2vh;
        width: 33vh;
        height: 33vh;
        left: 7vh;
    }
    h1 {
        font-size: 4em;
    }
}

@media (min-width: 800px) {
    .circle {
        top: -10vh;
        width: 50vh;
        height: 50vh;
        left: 0vh;
    }
    h1 {
        left: 3vh;
    }
}

.circle {
    position: relative;
    /* background-color: rgba(250, 235, 215, 0.0); */
    animation: animate 60s linear infinite;
    z-index: -2;
    /* border-radius: 50%; */
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle:after {
    content: '';
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    border-radius: 50%;
}

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-image: linear-gradient(#00bfff, #ff0066) 1;
    border-width: 8px;
    border-style: solid;
    /* background: linear-gradient(70deg, #00bfff, #ff0066); */
}

.circle span:nth-child(1) {
    filter: blur(5px);
}

.circle span:nth-child(2) {
    filter: blur(10px);
}

.circle span:nth-child(3) {
    filter: blur(20px);
}

.circle span:nth-child(4) {
    filter: blur(0px);
}

footer {
    bottom: 0px;
    align-items: center;
}

i {
    color: white;
}