<div>
    <div class="container">
            <div class="row">
                <div class="col s12 offset-m1 l6">
                    <h1 class="white-text valign-wrapper">MADNOLIA</h1>
                    <div class="circle">
                        <span></span>
                        <span></span>

                        <span></span>
                        <span></span>

                    </div>

                </div>
                <div class="col m6">
                    <br><br>
                    <h2 class=" white-text">{{ 'PRESENTATION.TITLE' | translate }}</h2>
                    <h5 class="grey-text right-align">{{ 'PRESENTATION.SUBTITLE' | translate }}</h5>

                </div>
            </div>
    </div>

    <footer>
            <div class="row center-align">
                <div class="col s4 m1">
                    <i class="icon-dualshock-2 large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-wiiu large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-dualshock-4 large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-nswitch large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-3ds large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-wii large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-dualsense large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-360 large"></i>
                </div>
                <div class="col s4 m1">
                    <i class="icon-ps-vita large"></i>
            </div>
            <div class="col s4 m1">
                <i class="icon-dualshock-3 large"></i>
            </div>
            <div class="col s4 m1 ">
                <i class="icon-xbox-classic large"></i>
            </div>
            <div class="col s4 m1 ">
                <i class="icon-xbox-one large"></i>
            </div>
        </div>
    </footer>
</div>