<div class="container mainCenter">
    <div *ngIf="loading">
        <div class="preloader-wrapper big active center-align">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span class="white-text">Loading</span>
    </div>
    <br>
    <div *ngIf="match && platform">
        <div class="row marginTop">
            <div class="col m6 s12">
                <i id="platform" class="icon-{{platform.category.toLowerCase()}} large"></i>
            </div>
            <div class="col s12 m6">
                <h5>{{'CREATE_MATCH.MATCH_NAME' | translate}}</h5>
                <h6 class="white-text">{{match.message}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <h6 *ngIf="match.users.length > 0" class="white-text center">{{'CREATE_MATCH.INVITEDS' | translate}}</h6>
                <ul>
                    <li class="deep-purple-text text-lighten-1" *ngFor="let user of match.users">{{user.username}}</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <h6>{{'CREATE_MATCH.DATE' | translate}}: </h6>
                <h5>{{ match.date.toDateString() }}</h5>
                <hr>
            </div>>
            <div class=" col s12 m6 offset-m6">
                <h6>{{'CREATE_MATCH.TIME' | translate}}: </h6>
                <h5> {{ match.date.toLocaleTimeString()}} </h5>
                <hr>
            </div>

        </div>
        <div class="row white-text center-align">
            <div class="col s12 m6">
                <h5>
                    {{platform.name}}
                </h5>
            </div>
            <div class="col s12 m6">
                <h5>
                    {{match.game_name}}
                </h5>
            </div>

        </div>
    </div>
</div>

<div class="container" >

    <h2 class="center-align white-text">Chat <i class="icon-bubbles2 small"></i></h2>
    <div class="row chat" #container>
        <div *ngFor="let message of messages">

            <div class="col s12 mainCenter message section scrollspy" style="position:relative;">
                <img src="{{message.user.thumb_img}}" width="60vh" style="position:absolute; right: 3vh; border-radius: 50%;">
                <h6 class="green-text">{{message.user.name}}</h6>
                <p>{{message.text}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="match">
        <div class="row chat_input" *ngIf="match.active" >
            <div class="col s12">
                <br>
                <form (submit)="onSubmit(null)">
                    <div class="row valign-wrapper">
                        <div class="col m11 s10">
                            <textarea id="message" class="white-text valign-wrapper" name="message" (keydown)="onSubmit($event)" [(ngModel)]="message" cols="50" rows="50"></textarea>
                        </div>
                        <div class="col m1 s2">
                            <button class="btn black center-align">
                                <i class="icon-location center-align"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
    </div>
    