.message {
    padding: 15px;
}

#platform {
    padding: 40px;
}

h6 {
    color: dimgrey;
}

i {
    color: white;
    text-align: center;
}

p {
    text-align: start;
}

textarea {
    padding: 0;
    margin: 0;
    border: 1px solid rgb(35, 114, 124);
    border-radius: 10px;
    padding: 5px;
}

.container {
    width: 80%;
}

textarea {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.274);
}

.chat_input {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.452) 0%, rgba(0, 0, 0, 0.247) 80%, rgba(0, 0, 0, 0) 100%);
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
    /* padding: 3px; */
}