a {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.pacman:hover {
    color: yellow;
    transition: 1s;
}

.col {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 20vh;
}