<div class="center-align animated fadeIn text-link container">

    <div class="row">
        <br>
        <div class="col s12 m6">
            <a routerLink="user" routerLinkActive="router-link-active">
                <i class="large icon-user"></i> <br>
                {{ 'PROFILE.YOU' | translate}}
            </a>
        </div>
        <div class="col s12 m6">
            <a routerLink="matches" routerLinkActive="router-link-active">
                <i class="large icon-bolt pacman"></i> <br> 
                {{ 'PROFILE.MATCHES' | translate}}
            </a>
        </div>
        <!-- <div class="col s6 m6 pacman">
            <a class="pacman" routerLink="games" routerLinkActive="router-link-active">
                <i class="large icon-pacman"></i> <br> Games
            </a>
        </div> -->
        <div class="col s12 m6 offset-m3">
            <a routerLink="platforms" routerLinkActive="router-link-active">
                <i class="large icon-gamepad"></i> <br>
                {{ 'PROFILE.PLATFORMS' | translate}}
            </a>
        </div>
    </div>
</div>