<div class="center-align animated fadeIn">
    <h2 class="yellow-text text-darken-1">{{'PROFILE.PLATFORMS_PAGE.TITLE' | translate}}</h2>
    <!-- <h1 class="center-align">Your platforms</h1> -->

    <form class="container" (ngSubmit)="updateUserPlatforms()" [formGroup]="updatePlatforms">

        <div class="row" [ngClass]="{'animated fadeIn': showPlatforms}">
            <div class="col s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active': selectXbox}" (click)="changeXbox()"> <i class="icon-xbox medium"></i></a>
            </div>
            <div class="col s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active': selectPlayStation}" (click)="changePS()">
                    <i class="icon-playstation medium">
                    </i>
                </a>
            </div>
            <div class="col s12 m4 center-align" (click)="verifyCheckbox()">
                <a [ngClass]="{'active': selectNintendo}" (click)="changeNintendo()">
                    <i class="icon-nintendo medium"></i>
                </a>
            </div>
            <div class="col s12 m6 center-align" (click)="onAddPlatform(4)">
                <div id="4">
                    <i class="icon-pc medium"></i>
                    <br>
                    <span>PC</span>
                </div>
            </div>
            <div class="col s12 m6 center-align" (click)="onAddPlatform(21)">
                <div id="21">
                    <i class="icon-smartphone medium"></i>
                    <br>
                    <span>{{ 'REGISTER.PHONE' | translate}}</span>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="selectPlayStation" [ngClass]="{'animated fadeIn': selectPlayStation}">
            <div *ngFor="let platform of playstationPlatforms; let i=index">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row " *ngIf="selectXbox " [ngClass]="{ 'animated fadeIn': selectXbox} ">
            <div *ngFor="let platform of xboxPlatforms; let i=index ">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row " *ngIf="selectNintendo " [ngClass]="{ 'animated fadeIn': selectNintendo} ">
            <div *ngFor="let platform of nintendoPlatforms; let i=index ">
                <div class="col s12 m4 center-align black-text" (click)="onAddPlatform(platform.value)">
                    <div [id]="platform.value">
                        <i [class]="platform.class"></i>
                        <br>
                        <span>{{platform.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="waves-effect waves-light btn">{{'PROFILE.USER_PAGE.UPDATE' | translate}}</button>
    </form>

</div>