<div *ngIf="user">

    <div *ngIf="platforms.length > 0">

        <div *ngFor="let platform of platforms">
            <div class="animated fadeIn fast games" *ngIf="platform.games.length > 0"   >
                <br>
                <div class="row text-white" >
                    <h2 class="">
                        <i class="icon-{{platform.platform_ico.toLowerCase()}} medium"></i> {{platform.name}}
                    </h2>

                    <div class="col game s12 m4" *ngFor="let game of platform.games">

                        <a class="card black" routerLink="/game/{{platform.id}}/{{game.id}}">
                            <div class="card-image">
                                <img [src]="game.img">
                                <span class="card-title">{{game.name}}</span>
                            </div>
                            <div class="card-content">
                                <p class="white-text" *ngIf="game.amount == 1">{{game.amount}} {{ 'HOME.MATCH' | translate}}</p>
                                <p class="white-text" *ngIf="game.amount > 1">{{game.amount}} {{ 'HOME.MATCHES' | translate}}</p>
                            </div>
                        </a>

                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
    <!-- <div *ngFor="let platform of platforms">
            
        </div> -->
</div>