<div>
    <div class="animated fadeIn fast">
        <div class="row games">
            <h2 class="yellow-text center-align">Your games</h2>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/fifa 14.jpg" alt="" width="100%">
                    <p>Fifa 14</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/NFS.jpg" alt="" width="100%">
                    <p>Need for Speed: Pro Street</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/Jak 3.jpg" alt="" width="100%">
                    <p>Jak 3</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/resident evil code veronica.jpg" alt="" width="100%">
                    <p>Resident Evil: Code Veronica</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/Test Drive.jpg" alt="" width="100%">
                    <p>Test Drive</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
            <div class="col s12 m4">
                <a>
                    <img class="game" src="assets/img/Tom Clancy.jpg" alt="" width="100%">
                    <p>Tom Clancy's</p>
                    <div class="platform">
                        <i class="icon-xbox tiny"></i>
                        <i class="icon-playstation tiny"></i>
                        <i class="icon-nintendo tiny"></i>
                        <i class="icon-display tiny"></i>
                        <i class="icon-phone tiny"></i>
                    </div>
                </a>
            </div>
        </div>


        <h3 class="center">Moore popular games for you</h3>

    </div>
</div>