ul {
    display: contents;
}

a {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-size: 1.2em;
}

.platform {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

img {
    padding: 5px;
}


/* .row {
    background: rgba(red, green, blue, 0.0);
} */