<h2 class="center-align red-text text-accent-1" *ngIf="verify">{{ 'PROFILE.MATCHES_PAGE.EMPTY' | translate}}</h2>

<div class="container mainCenter animated fadeIn fast" *ngIf="!verify">
    <div class="row chat">
        <h2 class="yellow-text center-align">{{ 'PROFILE.MATCHES_PAGE.TITLE' | translate}}</h2>
        <div class="col s12 m4" *ngFor="let match of matches; let i = index;">
            <div class="card ">
                <a style="z-index: 999;" (click)="deleteUserMatch(match._id)" class="btn-floating halfway-fab waves-effect waves-light red darken-4"><i class="icon-trashcan"></i></a>
                <a routerLink="/match/{{match._id}}">
                    <div class="card-image">
                        <img [src]="match.img" height="300px">
                        <span class="card-title">{{match.game_name}}</span>
                    </div>
                    <div class="card-content">
                        <p class="white-text">{{match.message}}</p>
                        <p class="white-text">{{match.date.toLocaleDateString()}}</p>
                        <p class="white-text">{{match.date.toLocaleTimeString()}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <br>