<div class="container animated fadeIn">
    <div class="row">
        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="15" class="center">
                <i class="icon-dualshock-2 large"></i>
                <p>PlayStation 2</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="16" class="center">
                <i class="icon-dualshock-3 large"></i>
                <p>PlayStation 3</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="18">
                <i class="icon-dualshock-4 large"></i>
                <p class="center">PlayStation 4</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="17">
                <i class="icon-psp large"></i>
                <p class="center">PSP</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a routerLink="19">
                <i class="icon-ps-vita large"></i>
                <p class="center">Ps Vita</p>
            </a>
        </div>

        <div class="col s12 m4 l4 xl4 center-align black-text">
            <a class="center" routerLink="187">
                <i class="icon-dualsense large"></i>
                <p class="center">PlayStation 5</p>
            </a>
        </div>

    </div>
</div>