* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(16, 7, 58);
    padding: 20px;
    color: rgb(182, 74, 74);
    text-align: center;
}

p {
    color: white;
}

body {
    background: linear-gradient(to right, #ca2734 0%, #1100ff 100%);
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

label {
    font-size: 1.5em;
    z-index: -1;
}

@font-face {
    font-family: 'Cyberverse';
    src: url('assets/fonts/Cyberverse.otf')
}

@font-face {
    font-family: 'Rapier Zero Hollow';
    src: url('assets/fonts/Rapier Zero Hollow.otf')
}

h5 {
    color: white;
}

h3 {
    font-family: 'Cyberverse';
}

h1 {
    font-family: 'Cyberverse';
}

input {
    color: white;
}

.text-link {
    font-family: 'Rapier Zero Hollow';
    color: rgba(255, 255, 255, 0.856);
}

.mainCenter {
    background: rgba(0, 0, 0, 0.507);
    padding: 15px;
    border-radius: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.active {
    color: white;
    transition: 2s;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

p {
    text-align: center;
}

i {
    font-size: 2em;
}

.grid-3 {
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
}

.white-hover:hover {
    color: white;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.game {
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient( #00000038 0%, #000 10%, #000000 95%, #00000200 104%);
    cursor: pointer;
}

.container {
    width: 100%;
}