* {
    margin: 0;
    padding: 0;
}

p {
    color: white;
}

body {
    background: linear-gradient(90deg, rgb(0, 20, 197), rgb(138, 0, 0));
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

label {
    font-size: 1.5em;
    z-index: -1;
}

@font-face {
    font-family: 'Cyberverse';
    src: url("assets/fonts/Cyberverse.otf");
}

@font-face {
    font-family: 'Cyberverse Condensed';
    src: url("assets/fonts/Cyberverse Condensed.otf");
}

@font-face {
    font-family: 'Rapier Zero Hollow';
    src: url("assets/fonts/Rapier Zero Hollow.otf");
}

h5 {
    color: white;
    font-family: "CyberVerse";
}


h1 {
    font-family: 'Cyberverse';
}

input {
    color: white;
}

.text-link {
    font-family: 'Cyberverse Condensed';
    color: rgba(255, 255, 255, 0.856);
}

.chat {
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* overflow: auto; */
}

::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 2px solid white;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 10vh;
    background-color: black;
    border-radius: 20px;
}

.message {
    border-bottom: 1px solid white;
    padding: 15px;
}

.message-admin {
    border: 1px solid rgb(30, 255, 0);
    padding: 15px;
}

.mainCenter {
    background: rgba(0, 0, 0, 0.507);
    padding: 15px;
    border-radius: 20px;
    /* margin-top: 3%; */
    margin-bottom: 3%;
}

.active {
    color: white;
    transition: 1s;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

span {
    text-align: center;
}

p {
    text-align: center;
}

i {
    font-size: 2em;
}

.grid-3 {
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
}

.white-hover:hover {
    color: white;
    transition: 1s;
}

.presentation {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.back {
    z-index: 1;
    background: linear-gradient(to bottom, rgba(189, 225, 255, 0), rgba(0, 0, 0, 0.979));
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.games {
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient( #00000021 0%, #000 10%, #000000 90%, #00000200 104%);
    /* background-color: rgba(0, 0, 0, 0.781); */
    z-index: -1;
}

.sidenav-overlay {
    background-color: rgba(0, 0, 0, 0.719);
}

.game {
    padding: 3px;
    border-radius: 10px;
    margin-top: 30px;
}

.game:hover {
    background: linear-gradient(to left, #81000baf 0%, #0900818c 100%);
}

.container {
    width: 100%;
}


main {
    top: 9vh;
    position: relative;
}

.loading_icon {
    /* color: rgba(255, 255, 255, 0.3); */
    text-align: center;
    animation: fade 2s linear infinite;
    padding: 0px;
    margin: 0;
    /* font-size: 18em; */
    text-align: center;
}

@keyframes fade {
    0% {
        color: rgba(255, 255, 255, 0.3);
    }
    40% {
        color: white;
    }
    60% {
        color: rgba(255, 255, 255, 0.3);
    }
    80% {
        color: white;
    }
    100% {
        color: rgba(255, 255, 255, 0.3);
    }
}


/*# sourceMappingURL=styles.css.map */