a {
    border-bottom: 20px;
}


/* * {
    background-color: rgba(0, 0, 139, 0);
} */

.edit-img {
    position: absolute;
    top: 17vh;
    left: 5vh;
    background-color: black;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
}

i {
    cursor: pointer;
}

img {
    border-radius: 5%;
    padding: 10px;
    max-width: 100%;
    max-height: 400px;
}

.edit-img>input {
    display: none;
    cursor: pointer;
    left: 2vh;
}

span {
    color: white;
}

select {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    border-bottom: 2px solid white;
}

option {
    color: black;
}

.container {
    min-height: 100%;
}

p {
    font-size: 5em;
}