<div class="container center animated fadeIn fast" *ngIf="user">
    <p class="">{{user.name}}</p>
    <form class="container" [formGroup]="editForm" (ngSubmit)="updateUser()">
        <div class="row">
            <div class="col s12 m6 ">
                <div class="edit-img">
                    <label for="img">
                        <i class="icon-pencil  white-text"></i>
                    </label>
                    <input type="file" accept="image/jpg, image/jpeg, image/png" id="img" (change)="changeImg($event.target.files[0])">
                </div>
                <img [src]="user.img" alt="" class="responsive-img" width="100%">
            </div>
            <div class="input-field col s12 m6">
                <input autocomplete="off" id="name" type="text" class="validate" formControlName="name">
                <label class="active" for="name">{{ 'PROFILE.USER_PAGE.NAME' | translate}}</label>
                <br>
            </div>
            <div class="input-field col s12 m6">
                <input id="username" autocomplete="off" type="text" class="validate" formControlName="username">
                <label class="active" for="username">{{ 'PROFILE.USER_PAGE.USERNAME' | translate}}</label>
                <br>
            </div>
            <div class="input-field col s12 m6">
                <input autocomplete="off" id="email" type="text" class="validate" formControlName="email">
                <label class="active" for="email">{{ 'PROFILE.USER_PAGE.EMAIL' | translate}}</label>
                <br>
            </div>
            <div class="input-field col s12">
                <span>{{ 'PROFILE.USER_PAGE.INVITATIONS.TITLE' | translate}}</span>
                <select formControlName="acceptInvitations" class="browser-default">
                                    <option value="ALL">{{ 'PROFILE.USER_PAGE.INVITATIONS.ALL' | translate}}</option>
                                    <option value="NOBODY">{{ 'PROFILE.USER_PAGE.INVITATIONS.NOBODY' | translate}}</option>
                            </select>
            </div>
        </div>
        <button class="waves-effect waves-light btn">{{'PROFILE.USER_PAGE.UPDATE' | translate}}</button>
    </form>
</div>