ul {
    display: contents;
}

h3 {
    text-align: center;
    z-index: 1;
}

p {
    font-size: 1.2em;
}

.platform {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

i {
    text-align: center;
}

.presentation {
    top: 8vh;
}


img {
    height: 100vh;
    width: 100%;
}

/* .img_presentation {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    display: inline-block;
    background-image: url("/assets/img/kingdom hearts 2.jpg");
    min-height: 100%;
} */

h2 {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 30%;
    left: 1%;
    z-index: 1;
}


/* th {
    text-align: center;
} */

td {
    /* text-align: center; */
    color: rgb(216, 203, 183);
}

.pointer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

p {
    position: absolute;
    bottom: 28%;
    left: 1%;
    z-index: 1;
}

span {
    color: white;
}