<div id="body" *ngIf="matches != [] && platform">


    <div class="animated fadeIn" *ngIf="game">
        <div class="back"></div>
        <img [src]="game.background_image">
        <!-- <img src="assets/img/kingdom hearts 2.jpg" width="100%"> -->

        <h2>{{game.name}}</h2>
        <p><i class="icon-{{platform.category.toLowerCase()}} tiny"></i> {{platform.name}} </p>
    </div>

    <div class="container white-text animated fadeIn">
        <br>
        <table class="mainCenter">
            <thead>
                <tr>
                    <th>{{ 'GAME.GAME' | translate}}</th>
                    <th>{{ 'GAME.MATCH' | translate}}</th>
                    <th>{{ 'GAME.DATE' | translate}}</th>
                    <th>{{ 'GAME.PLATFORM' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr class="pointer" *ngFor="let match of matches" routerLink="/match/{{match._id}}">
                    <td>{{match.game_name}}</td>
                    <td>{{match.message}}</td>
                    <td>{{match.date.toDateString()}} {{match.date.toLocaleTimeString()}}</td>
                    <td><i class="icon-{{platform.category.toLowerCase()}} tiny"></i> {{platform.name}} </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <!-- <h3 class="center ">Moore popular games for you</h3> -->
</div>